/* Global styles */
body {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #111b22;
  color: white;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h2 {
  font-size: 1.25rem;
  font-weight: bold;
}

/* Hero Section */
.hero-section {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)), url('gambarmuka.png');
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 100px 20px;
}

.hero-section h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.hero-section p {
  font-size: 1rem;
  color: #92b3c9;
}

/* Project Section */
.project-section {
  margin-top: 50px;
}

/* Project Card Styling */
.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  background-color: #1f2b36;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  max-height: 500px;
}

.project-img-container {
  position: relative;
  width: 100%;
  height: 300px; /* Fixed height for image container */
  overflow: hidden;
}

.project-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: slide 12s infinite;
}

@keyframes slide {
  0% { transform: translateX(0); }
  25% { transform: translateX(-100%); }
  50% { transform: translateX(-200%); }
  75% { transform: translateX(-300%); }
  100% { transform: translateX(0); }
}

.project-info {
  padding: 20px;
  color: white;
}

.project-info p {
  margin: 5px 0;
}

.slider-navigation {
  display: flex;
  margin-top: 10px;
}

.slider-dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #92b3c9;
  margin: 0 5px;
  transition: background-color 0.3s ease;
}

.slider-dot.active {
  background-color: white;
}

/* Footer */
footer {
  text-align: center;
  margin-top: 50px;
  color: #92b3c9;
}

/* Responsiveness */
@media (max-width: 768px) {
  .hero-section h1 {
    font-size: 2rem;
  }

  .hero-section p {
    font-size: 0.9rem;
  }

  .project-card {
    flex-direction: column;
    align-items: flex-start;
  }
}